body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.main_wrapper {
  header {
    background: #fef0cf;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .lumbee-navigation {
      display: flex;
      ul {
        display: flex;
        list-style: none;
        li {
          a {
            padding: 15px 20px;
            color: #000;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .lumbee {
    display: flex;
    width: 100%;
    flex-direction: column;
    .main_slogan {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: #b4b290;
      padding: 25px 0px;
      h2 {
        margin: 0px;
        margin-bottom: 10px;
        color: white;
        // font-style: italic;
        font-family: "Satisfy", cursive;
        font-size: 35px;
      }
      h3 {
        margin: 0px;
        color: white;
        // font-style: italic;
        font-family: "Satisfy", cursive;
        font-size: 24px;
        margin-top: 10px;
      }
    }
    .banner {
      img {
        display: flex;
      }
    }
    .about_us {
      background: url("https://static.wixstatic.com/media/11062b_e55321c53b02478b9bafa28958160488f000.jpg/v1/fill/w_1600,h_404,al_bl,q_85,usm_0.33_1.00_0.00/11062b_e55321c53b02478b9bafa28958160488f000.webp");
      width: 100%;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        left: 0px;
        top: 0px;
      }
      .inner_about {
        max-width: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: relative;
        h1,
        h2 {
          margin-bottom: 20px;
          color: #333333;
        }
        h1 {
          font-family: "Lora", serif;
          font-size: 60px;
        }
        h2 {
          font-family: "Satisfy", cursive;
        }
        p {
          text-align: center;
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
    .services {
      background: #fef1cf;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0px;
      h2 {
        max-width: 600px;
        width: 100%;
        text-align: center;
        font-family: "Lora", serif;
        color: #755144;
        font-size: 27px;
        line-height: 40px;
      }
      .common_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        margin-top: 60px;
        width: 100%;
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 70px;
          text-align: center;
          width: 100%;
          &:last-child {
            margin-bottom: 0px;
          }
          .right_content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          p {
            max-width: 300px;
            margin-top: 0px;
          }
          img {
            margin-right: 20px;
            border-radius: 10px;
          }
          &.right {
            flex-direction: row-reverse;
            .right_content {
              margin-right: 20px;
            }
            img {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}
